@import "@/shared/styles/variables.scss";

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 14px 0 12px;
  border-bottom: 1px solid $stroke-secondary;
  background-color: $background-primary;

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logoAndTitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 20px;
      margin-left: -10px;

      .logo {
        padding: 16px 8px;
        background-color: $logo-yellow;

        .logoImg {
          display: block;
        }
      }

      .title {
        margin: 0;
        font-size: 16px;
        line-height: 160%;
        font-weight: 400;
        white-space: break-spaces;

        @media screen and (max-width: $tablet-width) {
          display: none;
        }
      }
    }

    .loginBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      padding: 0 30px;
      background-color: $background-primary;
      border: 1px solid $stroke-primary;
      border-radius: 5px;

      font-size: 18px;
      line-height: 140%;
    }
  }
}
