@import "@/shared/styles/variables.scss";

.lightBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 50px;
  border: 1px solid $gray;
  border-radius: 5px;

  font-size: 16px;
  line-height: 160%;
  transition: all 0.2s ease-in-out;
}

.darkBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 50px;
  border-radius: 5px;
  background-color: $black;

  font-size: 16px;
  line-height: 160%;
  font-weight: 500;
  color: $background-primary;
  transition: all 0.2s ease-in-out;

  &:disabled {
    background-color: $stroke-primary;
    cursor: default;
  }

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    background-color: $black-hover;
  }

  &:active:not(:disabled) {
    background-color: $black-active;
  }
}
