$laptop-width: 900px;
$tablet-width: 768px;
$mobile-width: 400px;

$background-primary: #ffffff;
$background-secondary: #f3f3f3;
$black: #000000;
$gray: #838383;
$stroke-primary: #d4d4d4;
$stroke-secondary: #e6e6e6;
$error: #f00000;
$logo-yellow: #feff80;
