@import "@/shared/styles/variables.scss";

.footer {
  padding: 22px 0;
  border-top: 1px solid $stroke-secondary;

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    line-height: 160%;

    .text {
      color: $gray;
      padding-right: 5px;
    }

    .link {
      font-weight: 500;
      color: $black;
      transition: color 0.2s ease-in-out;

      &:hover,
      &:focus-visible {
        color: $black-hover;
      }

      &:active {
        color: $black-active;
      }
    }
  }
}
